#Contact_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 20rem;
}

#Contact_us .ContactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  font-size: 2rem;
  text-align: center;
  line-height: 2.5;
}

#Contact_us .Contact_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  min-height: 20rem;
  height: 100%;
}

#Contact_us .Contact_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  list-style: none;
}

#Contact_us .Contact_links ul li {
  margin-right: 1rem;
}

#Contact_us .Contact_links ul li:last-child {
  font-size: 1rem;
  display: block;
}

#Contact_us .Contact_links ul li a {
  font-size: 2rem;
  color: #fffbfb;
}

#Contact_us .Contact_links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#Contact_us .Contact_links div span {
  padding: 0 0.5rem;
}

@media (max-width: 575.98px) {
  #Contact_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Contact_us .ContactUs {
    width: 100%;
    line-height: 1.5;
    font-size: 0.9rem;
  }
  #Contact_us .Contact_links {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #Contact_us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #Contact_us .ContactUs {
    width: 100%;
    line-height: 1.7;
    font-size: 1rem;
  }
  #Contact_us .Contact_links {
    width: 100%;
  }
}
/*# sourceMappingURL=Contact_us.css.map */