#our_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#our_projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
  margin-bottom: 3rem;
}

#our_projects .project .project_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 75%;
  overflow: hidden;
  border-radius: 0.5rem;
}

#our_projects .project .project_image img {
  width: 100%;
  height: 100%;
}

#our_projects .project .project_content {
  width: 50%;
  min-height: 100%;
  line-height: 2.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#our_projects .project .project_content h3 {
  font-size: 200%;
}

#our_projects .project .project_content a {
  color: #fffbfb;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  line-height: 1.5;
}

#our_projects .project .project_content a:hover {
  text-decoration: underline;
  color: blue;
}

@media (max-width: 575.98px) {
  #our_projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  #our_projects .project .project_image {
    width: 100%;
  }
  #our_projects .project .project_content {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #our_projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  #our_projects .project .project_image {
    width: 100%;
  }
  #our_projects .project .project_content {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #our_projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  #our_projects .project .project_image {
    width: 100%;
  }
  #our_projects .project .project_content {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #our_projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: column-reverse;
  }
  #our_projects .project .project_image {
    width: 100%;
  }
  #our_projects .project .project_content {
    width: 100%;
  }
}
/*# sourceMappingURL=projects.css.map */